<h2>login page</h2>

    <form>
        <div class="signup-field">
            <input class="text1" type="email" placeholder="Email"><br><br>
            <input class="text2" type="password" placeholder="New Password"><br><br>
            <input class="sub-btn1" type="submit" value="submit"><br><br>
            <input type="checkbox" checked="checked"> Remember me
            <button type="button" class="cnclbtn">Cancel</button>
            Forgot<a href="#">password?</a>
        </div>
    </form>