<nav>
    <h3>FaceBook</h3>
    <ul>
        <li><h4><a routerLink="/home">Home</a></h4></li>
        <li><h4><a routerLink="/about">About</a></h4></li>
        <li><h4><a routerLink="/login">Login</a></h4></li>
        <li><h4><a routerLink="/user">User</a></h4></li>
    </ul>
    
  </nav>
  
  <div class="main-body">
    <div class="left-section">
        <p class="para">facebook helps you connect and share with the<br> people in your life </p>
        <img src="../assets/fbimg.jpg" alt="null">
  
    </div>
    <div class="right-section">
        <h1>Create an account</h1>
        <h3>its quick and easy</h3>
        <form class="signup-form" action="hello.html" id="signup-form">
            <div class="signup-field name">
                <input name="fname" class="field" type="text" placeholder="First name">
                <input name="surname" class="field" type="text" placeholder="Surname"><br><br>
            </div>
            <div class="signup-field">
                <input class="text1" type="email" placeholder="Email"><br><br>
                <input class="text2" type="password" placeholder="New Password">
            </div>
                <h2 class="grey">Birthday</h2><br><br>
            <select class="date">
                <option value="">Date</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
            </select>
            <select class="month" name="" id="">
                <option value="">month</option>
                <option value="">jan</option>
                <option value="">feb</option>
                <option value="">mar</option>
                <option value="">apr</option>
                <option value="">may</option>
                <option value="">jun</option>
                <option value="">jul</option>
                <option value="">aug</option>
                <option value="">sep</option>
                <option value="">oct</option>
                <option value="">nov</option>
                <option value="">dec</option>
  
            </select>
            <select class="year" name="" id="">
                <option value="">year</option>
                <option value="">1998</option>
                <option value="">1999</option>
                <option value="">2000</option>
                <option value="">2001</option>
                <option value="">2002</option>
            </select>
            <h2>Gender</h2>
            <input class="gender" type="radio" name="gender">Male
            <input class="gender" type="radio" name="genter">Female<br><br>
            <input class="sub-btn1" type="submit" value="submit">
  
        </form> 
  
    </div>
    
  </div>
  
